
html, body {
  height: 100%;
}
/*left block*/
.left {
  width: 50%;
  height: 100%;
  float: left;
  background-image: url("../img/photo.jpg");
  background-position: center top;
  background-size:cover;
}

/*rigth block*/
.rigth {
  width: 50%;
  height: 100%;
  float: right;
}
