
html, body {
  height: 100%;
}
/*left block*/
.left {
  width: 50%;
  height: 100%;
  float: left;
  background-image: url("../img/photo.jpg");
  background-position: center top;
  background-size:cover;
}
.personalinfo {
  width: 50%;
  margin: 300px auto;
  text-align: center;
}

.personalinfo h1 {
  color: white;
  font-size: 50px;
}

.personalinfo h2 {
  color: white;
  font-size: 20px;
}



/*rigth block*/
.rigth {
  width: 50%;
  height: 100%;
  float: right;
}
